/* Start Global Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.image img{
    width: 300px;
    height: 500px;
}
.container {
    padding: 30px 0;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    margin: 0 auto;
    width: 1100px;
    max-width: 100%;
}

.title h2 {
    font-size: 40px;
}

.title .line {
    width: 70px;
    height: 3px;
    margin: 10px auto 30px;
    background-color: #131314;
}

/* /////////////////////////////////////// */

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color:  #7b7b7b;
    padding: 0 30px;
    z-index: 1;
}
.header .icons-home {
    float: left;
}
.input-home {
    margin: 6px 0;
}
.input-home input[type="text"] {
    outline: none;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 25px;
    padding-left: 40px;
}
.icon-1{
    font-size: 25px;
}

.header .icons-home .homeicon {
    margin: 0 20px;
}
.header .icons-home .searchicon {
    position: relative;
    display: block;
    left: 90px;
    top: -20px;
}
.header .links-header {
    float: right;
    margin-right: 80px;
}
.links-header .shop-link {
    position: relative;
}
.links-header .shop-link:hover .shop-menu {
    visibility: visible;
}
.shop-link .shop-menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 30px;
    font-size: 15px;
    width: 100px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.shop-link .shop-menu span {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.shop-link .shop-menu span a {
    text-decoration: none;
    color: #6e6d6e;
}
.shop-link span::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #6c6c6d;
    visibility: hidden;
}
.shop-link span:hover::after {
    width: 80%;
    margin-left: 10%;
    visibility: visible;
    transition: 0.7s;
}
.links-header li {
    display: inline;
    height: 60px;
    line-height: 60px;
    margin-right: 30px;
    font-weight: bold;
    position: relative;
}
.links-header li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(234, 230, 234);
    top: 25px;
    left: 0;
    transition: 0.3s;
    visibility: hidden;
}
.links-header li:hover::after {
    width: 100%;
    visibility: visible;
}
.links-header li a {
    text-decoration: none;
    color: rgb(248, 246, 246);
}
   /* ///////////////////////////////// */
.bac-home {
    width: 100%;
    height: 100vh;
    background: url(../images/bacground-first.jpg) fixed no-repeat;
    background-size: cover;
    position: relative;
}
.bac-home .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.bac-home .content {
    padding-top: 60px;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
.bac-home h1 {
    font-size: 65px;
    margin: 20px auto;
    word-spacing: 2px;
    text-transform: uppercase;
}
.bac-home p {
    margin: 0 auto 18px;
    letter-spacing: 1px;
    opacity: 0.8;
    line-height: 25px;
}
.bac-home .button-home {
    width: 150px;
    border: none;
    padding: 16px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.bac-home .button-home:hover {
    opacity: 60%;
}
.buttons .btn1 {
    margin-right: 8px;
}
.buttons .btn2 {
    background-color: #6f6e6e;
    color: white;
}

/* ///////////////////////////////////////// */

.section1 {
    height: 80vh;
}
.section1 .container {
    overflow: auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.section1 h2 {
    margin: 40px auto 0;
}
.section1 .pearunt-welcome .form {
    float: left;
    padding: 15px;
    width: 30%;
    height: 200px;
    border: 1px solid #6a6a6a;
    border-radius: 10px;
    position: relative;
}
.section1 .pearunt-welcome .form::after {
    content: "";
    width: 0%;
    height: 0%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #bbd2f8;
    transition: 0.5s;
}
.section1 .form:hover::after {
    width: 100%;
    height: 100%;
}
.section1 .form:hover h3 {
    color: white;
}
.section1 .form:hover p {
    color: black;
}
.section1 .form2 {
    margin: 0 5%;
}
.section1 i {
    font-size: 25px;
    color:rgb(76, 16, 255);
    padding: 15px 0;
}
.section1 h3 {
    text-transform: capitalize;
    margin: 0 auto 18px;
}
.section1 p {
    margin: 18px 0;
    font-size: 14px;
    color: gray;
    font-weight: 600;
}
.section1 a {
    display: block;
    margin: 30px;
    text-decoration: none;
    color: #007bff;
}
.section1 a:hover {
    color: #0355cc;
}

/* /////////////////////////////////////// */


.section2 {
    background-color: #9a9a9a;
    height: 120vh;
    margin: 100px auto;
    text-align: center;
}
.section2 .overlay-image {
    margin: auto;
    width: 972px;
}
.section2 .title h2 {
    padding: 50px 0 0;
}
.section2 .image {
    float: left;
    height: 300px;
    width: 240px;
    margin: 15px 0 0 60px;
    position: relative;
}
.section2 .image:hover .content {
    visibility: visible;
    border-radius: 20px;
}
.section2 .image .content {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(183, 181, 181);
    background-color: rgba(124, 124, 124, 0.5);
}
.section2 .image .content h4 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 80px;
    padding: 5px;
}
.section2 .image .content p {
    margin: 20px auto;
    font-size: 22px;
    color: rgb(217, 216, 216);
    font-weight: 600;
}

.section2 img {
    height: 100%;
   width: 100%;
  border-radius: 20px;
}

.section2 .image .content i {
    font-size: 18px;
    padding: 6px 12px;
    background-color: white;
    color: gray;
    border-radius: 10px;
    cursor: pointer;
}

.section2 .image i:hover {
    background-color: #ddd;
}

/* //////////////////////////////////////////////// */


.our-offers h2 {
    text-align: center;
}
.our-offers .container {
    overflow: auto;
}
.our-offers .offer-items .item {
    float: left;
    width: 30%;
    height: 200px;
    border: 1px solid #070707;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.offer-items .item2,
.offer-items .item5 {
    margin-left: 5%;
    margin-right: 5%;
}
.our-offers .offer-items .item::after {
    content: "";
    width: 0%;
    height: 0%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #bbbdbf;
    transition: 0.5s;
}
.our-offers .offer-items .item:hover::after {
    width: 100%;
    height: 100%;
}
.our-offers .offer-items .item:hover h4 {
    color: #fcfcfc;
}
.our-offers .offer-items .item:hover p {
    color: black;
}
.our-offers .item i {
    float: left;
    color: #0355cc;
    font-size: 22px;
    padding: 16px 10px;
    cursor: pointer;
}
.our-offers .item h4 {
    margin: 10px 5px;
    font-size: 24px;
    font-weight: 700;
}
.our-offers .item p {
    color: gray;
    font-weight: 600;
    padding-left: 42px;
    line-height: 1.5;
}

/* ///////////////////////////////////////////// */

.shop-us {
    height: 100vh;
    padding-top: 100px;
}
.shop-us .container {
    position: relative;
}
.shop-us .container p {
    font-weight: 550;
}
.shop-us .title h2 {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 750;
}
.shop-us .title span {
    padding: 8px 0;
    border-bottom: 2px solid #0355cc;
}
.shop-us .title p {
    width: 40%;
    margin: 20px 0;
    line-height: 1.3;
    color: gray;
}
.items i{
  margin-right: 10px;
}
.shop-us .image {
    position: absolute;
    top: 0;
    right: 0;
}
.shop-us .image {
    width: 300px;
    height: 100px;
   float: right;
   cursor: pointer;
}
.shop-us .image img{
  border-radius: 20px;
}
.shop-us .image .bullets {
    width: 25%;
    margin: auto;
}
.shop-us .image span {
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    float: left;
    background-color: #9c9999;
    cursor: pointer;
}
.shop-us .image .active {
    background-color: #171cb8;
}
.shop-us .image .not-active:hover {
    background-color: #171cb8;
}

/* ////////////////////////////////////////////////// */

.stats {
    height: 60vh;
    background: url('../images/match.jpg') center fixed no-repeat;
    background-size: cover;
    position: relative;
}
.stats .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.stats .items {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.stats .items .item {
    float: left;
    width: 22%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}
.stats .item i {
    font-size: 40px;
    padding: 10px;
}
.stats .item span {
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px 0;
}

/* ///////////////////////////////////////////// */

.pricing-table {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    height: 100vh;
}
.pricing-table h2 {
    font-size: 32px;
}
.pricing-table .table .item {
    float: left;
    text-align: center;
    width: 30%;
    height: 450px;
    border: 1px solid #908181;
    border-radius: 10px;
    position: relative;
}
.pricing-table .table .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: #aeaeae;
    z-index: -1;
    transition: 0.5s;
}
.pricing-table .table .item:hover::after {
    height: 100%;
}
.pricing-table .table .item:hover .circle {
    border-color: #646464;
}
.pricing-table .table .item:hover h5 {
    color: #d7d7d7;
}
.table .item2 {
    margin: 0 5%;
}
.table .item h5 {
    font-size: 24px;
    padding: 40px 20px 20px;
}
.table .item .circle {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #3b3b3b;
    transition: 0.3s;
}
.table .num1 {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 700;
    display: block;
}
.table .num2 {
    font-weight: 700;
}
.table p {
    padding: 12px 0;
    font-weight: bold;
}
.table button {
    margin: 8px auto 0;
    width: 70%;
    height: 40px;
    font-size: 18px;
    padding: 12px 0;
    border-radius: 20px;
    border: 1px solid #9e9c9c;
    cursor: pointer;
}

/* ///////////////////////////////////////// */

.clients {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 400px;
    background: url('../images/bac-A&R.jpeg') fixed center;
    background-size: cover;
    position: relative;
}
.clients .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.clients .items {
    position: absolute;
    color: white;
    width: 1000px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clients .items .item {
    width: 50%;
    height: 100%;
    padding: 20px 0;
}
.clients .item1 {
    float: left;
}
.clients .item2 {
    float: right;
}
.clients .figure {
    overflow: auto;
}
.clients .figure img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.clients .details .name {
    padding: 12px;
    font-size: 24px;
    font-weight: 700;
}
.clients .details span {
    color: #d2d2d2;
    font-size: 22px;
    font-weight: bold;
}
.item p{
    margin-top: 15px;
    line-height: 20px;
}

/* ////////////////////////////////////////////////// */

.our-team {
    text-align: center;
    height: 100vh;
}
.our-team .title h2 {
    font-size: 32px;
}
.our-team .item {
    background-color: #ddd;
    float: left;
    width: 30%;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.our-team .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.our-team .item:hover::after {
    height: 100%;
}
.our-team .item:hover p {
    color: #ffffff;
}
.our-team .item:hover .icons {
    visibility: visible;
}
.our-team .item2 {
    margin: 0 5%;
}
.our-team .items .image {
    position: relative;
}
.our-team .items img {
    width: 100%;
    height: 270px;
}
.our-team .item .name {
    text-transform: capitalize;
    margin: 10px 0;
    color: rgb(20, 20, 20);
    font-weight: 700;
    font-size: 28px;
    transition: 0.5s;
}
.our-team .item p {
    padding-bottom: 10px;
    color: gray;
    font-weight: 750;
    font-size: 22px;
}
.our-team .icons a {
    text-decoration: none;
}
.our-team .icons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
}
.our-team .icons i {
    display: block;
    font-size: 20px;
    width: 40px;
    height: 45px;
    line-height: 45px;
    background-color: #e6e6e6;
    color: rgb(10, 69, 232);
}

/* /////////////////////////////////////////////// */

.news {
    text-align: center;
    height: 120vh;
}
.news .item {
    float: left;
    width: 30%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #595959;
    position: relative;
}
.news .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.4);
    transition: 0.5s;
    z-index: -1;
}
.news .item:hover::after {
    height: 100%;
}
.news .item2 {
    margin: 0 5%;
}
.news .item img {
    max-width: 95%;
    height: 250px;
    border-radius: 10px;
}
.news .icons {
    margin: 14px 0;
}
.news .icons i {
    color: #0355cc;
}
.news .icons a {
    margin-right: 14px;
    text-decoration: none;
    color: rgb(24, 24, 24);
    font-weight: 600;
}
.news .item:hover a {
    color: #dbdbdb;
}
.news .track-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #6c6c6d;
}
.news .item:hover .track-name {
    color: rgb(15, 15, 15);
}
.news .details {
    font-size: 18px;
    font-weight: 750;
    opacity: 0.7;
    width: 100%;
}
.news .item:hover .details {
    color: #ededed;
}
.news button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    color: #007bff;
    margin-top: 25px;
}
.news button:hover {
    color: #0355cc;
    cursor: pointer;
}
/* //////////////////////////////////////////// */

.footer {
    height: 60vh;
    background-color: #e9e9e9;
    text-align: center;
}
.footer img {
    width: 300px;
    height: 220px;
    border-radius: 10px;
}
.footer .icons {
    margin: 12px 0;
}
.footer .icons i {
    font-size: 26px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: white;
    color: #007bff;
}
.footer .icons i:hover {
    background-color: #007bff;
    color: white;
}
.footer .details {
    font-weight: 550;
    opacity: 0.8;
}

